In [9]:
#Imports all the relevant Modules
from sqlalchemy import create_engine, inspect, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Date 
import pymysql
pymysql.install_as_MySQLdb()
Base = declarative_base()

#imports python modules
import pandas as pd
import datetime
import json
import requests
from pprint import pprint

In [3]:
#Establishes the connection
MySQL_root_PW = 'Joseph155)'
MySQL_db = 'gfc_data'


engine = create_engine("mysql://root:"+MySQL_root_PW+"@localhost/"+MySQL_db)
conn = engine.connect()
Base.metadata.create_all(engine)
from sqlalchemy.orm import Session
session = Session(bind=engine)

AttributeError: gfc_data

In [4]:
#Builds the table in the database
class econ_data_unemployment(Base):
    __tablename__ = 'econ_unemployment'
    id = Column(Integer, primary_key=True)
    date = Column(Date)
    Unemployment_Rate = Column(Float)

class econ_data_new_orders(Base):
    __tablename__ = 'econ_new_orders'
    id = Column(Integer, primary_key=True)
    date = Column(Date)
    Value_of_Manufactuters_New_Orders = Column(Float)
    
class econ_data_non_defense(Base):
    __tablename__ = 'econ_non_defense_x_air'
    id = Column(Integer, primary_key=True)
    date = Column(Date)
    Manufacturers_New_Orders_Non_Defense_Cap_Goods_x_Air = Column(Float)
    
class econ_data_utilization(Base):
    __tablename__ = 'econ_capacity_utilization'
    id = Column(Integer, primary_key=True)
    date = Column(Date)
    Capacity_Utilization_Manufacturing = Column(Float)
    
class econ_data_claims(Base):
    __tablename__ = 'econ_data_initial_claims'
    id = Column(Integer, primary_key=True)
    date = Column(Date)
    Average_Weekly_Initial_Claims = Column(Float)
    
class econ_data_earnings(Base):
    __tablename__ = 'econ_data_weekly_earnings'
    id = Column(Integer, primary_key=True)
    date = Column(Date)
    Average_Weekly_Earnings = Column(Float)
    
#Creates the tables 
Base.metadata.tables
Base.metadata.create_all(engine)

In [5]:
#Imports API Key
api_key = "5ec272d8e55ecfd7543c4dfcc0fdf45d"

In [6]:
series_id = ['UNRATE', 'NEWORDER', 'ACOGNO', 'MCUMFN', 'ICSA', 'CES0500000011']
class_id = ['econ_unemployment', "econ_new_orders", 'econ_non_defense_x_air', 'econ_capacity_utilization', 'econ_data_initial_claims', 'econ_data_weekly_earnings']
data = ['Unemployment_Rate', 'Value_of_Manufactuters_New_Orders', 'Manufacturers_New_Orders_Non_Defense_Cap_Goods_x_Air', 'Capacity_Utilization_Manufacturing', 'Average_Weekly_Initial_Claims','Average_Weekly_Earnings']

url_list = []
length_list = []


for series_id in series_id:
    #Creates the Target URL
    data_url = 'https://api.stlouisfed.org/fred/series/observations?series_id=' + series_id + '&api_key=' + api_key + '&file_type=json' 
    responses1 = requests.get(data_url).json()
    length = responses1['count'] 
    url_list.append(data_url)
    length_list.append(length)

In [26]:
unemployment = requests.get(url_list[0]).json()
for j in range(length_list[0]):
    #Finds how many observations there are
    df = pd.read_sql("SELECT id FROM " + class_id[0], conn)
    observations = df['id'].max()
    
    if j <= observations:
        continue
    else:
        #Commits if no duplicates  
        table = class_id[0]
        date_output = unemployment['observations'][j]['date']  
        data_output = unemployment['observations'][j]['value']
        output = econ_data_unemployment(date=date_output, Unemployment_Rate=data_output)
        session.add(output)
        
print("Complete 1")

new_orders = requests.get(url_list[1]).json()
for k in range(length_list[1]):
    #Finds how many observations there are
    df = pd.read_sql("SELECT id FROM " + class_id[1], conn)
    observations = df['id'].max()
    
    if k <= observations:
        continue
    else: 
        try:
            table = class_id[1]
            date_output = new_orders['observations'][k]['date']
            data_output = new_orders['observations'][k]['value']
            if data_output != '.':
                output = econ_data_new_orders(date=date_output, Value_of_Manufactuters_New_Orders=data_output)
                session.add(output)
            else :
                continue
        except:
            continue
        
print("Complete 2")

cap_goods = requests.get(url_list[2]).json()
for l in range(length_list[2]):
    #Finds how many observations there are
    df = pd.read_sql("SELECT id FROM " + class_id[2], conn)
    observations = df['id'].max()
    
    if l <= observations:
        continue
    else:
        try:
            table = class_id[2]
            date_output = cap_goods['observations'][l]['date']
            data_output = cap_goods['observations'][l]['value']
            output = econ_data_non_defense(date=date_output, Manufacturers_New_Orders_Non_Defense_Cap_Goods_x_Air=data_output)
            session.add(output)
        except:
            continue
        
print("Complete 3")

cap_ut = requests.get(url_list[3]).json()
for m in range(length_list[3]):
    #Finds how many observations there are
    df = pd.read_sql("SELECT id FROM " + class_id[3], conn)
    observations = df['id'].max()
    
    if n <= observations:
        continue
    else:
        try:
            table = class_id[3]
            date_output = cap_ut['observations'][m]['date']
            data_output = cap_ut['observations'][m]['value']
            output = econ_data_utilization(date=date_output, Capacity_Utilization_Manufacturing=data_output)
            session.add(output)
        except:
            continue
        
print("Complete 4") 

initial_claims = requests.get(url_list[4]).json()
for n in range(length_list[4]):
    #Finds how many observations there are
    df = pd.read_sql("SELECT id FROM " + class_id[4], conn)
    observations = df['id'].max()
    
    if n <= observations:
        continue
    else:
        try:
            table = class_id[4]
            date_output = initial_claims['observations'][n]['date']
            data_output = initial_claims['observations'][n]['value']
            output = econ_data_claims(date=date_output, Average_Weekly_Initial_Claims=data_output)
            session.add(output)
        except:
            continue

print("Complete 5")        

weekly_earnings = requests.get(url_list[5]).json()
for o in range(length_list[5]):
    #Finds how many observations there are
    df = pd.read_sql("SELECT id FROM " + class_id[5], conn)
    observations = df['id'].max()
    
    if o <= observations:
        continue
    else:
        try:
            table = class_id[5]
            date_output = weekly_earnings['observations'][o]['date']   
            data_output = weekly_earnings['observations'][o]['value']
            output = econ_data_earnings(date=date_output, Average_Weekly_Earnings=data_output)
            session.add(output)
        except:
            continue
        
#commits the data
session.commit()
        
print("Complete all")

Complete 1
Complete 2
Complete 3
Complete 4
Complete 5
Complete all

In [3]:
#This section imports all data fed in through a csv file

#reads the data
Asset_returns = pd.read_excel('Resources/Asset Class Returns.xlsx')

data_scheme = {
    'Year': Date    
}

Asset_returns.to_sql(con=conn, dtype=data_scheme, name='asset_returns', if_exists='replace')

In [10]:
inspector = inspect(engine)
inspector.get_table_names()

['asset_returns',
 'econ_capacity_utilization',
 'econ_data_initial_claims',
 'econ_data_weekly_earnings',
 'econ_new_orders',
 'econ_non_defense_x_air',
 'econ_unemployment']

In [13]:
from sqlalchemy.ext.automap import automap_base
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['econ_capacity_utilization',
 'econ_data_initial_claims',
 'econ_data_weekly_earnings',
 'econ_new_orders',
 'econ_non_defense_x_air',
 'econ_unemployment']

In [19]:
Capacity_Utilization = Base.classes.econ_capacity_utilization
Initial_Claims = Base.classes.econ_data_initial_claims
Weekley_Earnings = Base.classes.econ_data_weekly_earnings
New_orders = Base.classes.econ_new_orders
Capital_Goods_ex_Defense_Aircraft = Base.classes.econ_non_defense_x_air
Unemployment_Rate = Base.classes.econ_unemployment

q = session.query(Initial_Claims.date, Initial_Claims.Average_Weekly_Initial_Claims, Weekley_Earnings.Average_Weekly_Earnings).filter(Initial_Claims.date == Weekley_Earnings.id)
for rec in q:
    print(rec)

(datetime.date(1967, 1, 7), 208000.0, 685.37)
(datetime.date(1967, 1, 14), 207000.0, 691.49)
(datetime.date(1967, 1, 21), 217000.0, 690.8)
(datetime.date(1967, 1, 28), 204000.0, 695.91)
(datetime.date(1967, 2, 4), 216000.0, 698.32)
(datetime.date(1967, 2, 11), 229000.0, 696.98)
(datetime.date(1967, 2, 18), 229000.0, 702.1)
(datetime.date(1967, 2, 25), 242000.0, 701.09)
(datetime.date(1967, 3, 4), 310000.0, 704.86)
(datetime.date(1967, 3, 11), 241000.0, 709.67)
(datetime.date(1967, 3, 18), 245000.0, 706.58)
(datetime.date(1967, 3, 25), 247000.0, 709.32)
(datetime.date(1967, 4, 1), 259000.0, 713.11)
(datetime.date(1967, 4, 8), 257000.0, 712.75)
(datetime.date(1967, 4, 15), 299000.0, 716.9)
(datetime.date(1967, 4, 22), 245000.0, 722.78)
(datetime.date(1967, 4, 29), 255000.0, 721.02)
(datetime.date(1967, 5, 6), 254000.0, 722.4)
(datetime.date(1967, 5, 13), 231000.0, 724.12)
(datetime.date(1967, 5, 20), 230000.0, 722.7)
(datetime.date(1967, 5, 27), 228000.0, 726.53)
(datetime.date(1967, 6, 3), 248000.0, 728.59)
(datetime.date(1967, 6, 10), 238000.0, 729.28)
(datetime.date(1967, 6, 17), 224000.0, 731.34)
(datetime.date(1967, 6, 24), 218000.0, 734.78)
(datetime.date(1967, 7, 1), 209000.0, 732.99)
(datetime.date(1967, 7, 8), 240000.0, 738.91)
(datetime.date(1967, 7, 15), 241000.0, 740.63)
(datetime.date(1967, 7, 22), 240000.0, 740.88)
(datetime.date(1967, 7, 29), 209000.0, 744.31)
(datetime.date(1967, 8, 5), 221000.0, 743.17)
(datetime.date(1967, 8, 12), 202000.0, 746.37)
(datetime.date(1967, 8, 19), 215000.0, 746.11)
(datetime.date(1967, 8, 26), 213000.0, 743.77)
(datetime.date(1967, 9, 2), 218000.0, 746.98)
(datetime.date(1967, 9, 9), 231000.0, 747.66)
(datetime.date(1967, 9, 16), 220000.0, 745.63)
(datetime.date(1967, 9, 23), 209000.0, 746.98)
(datetime.date(1967, 9, 30), 204000.0, 747.32)
(datetime.date(1967, 10, 7), 231000.0, 746.12)
(datetime.date(1967, 10, 14), 206000.0, 749.68)
(datetime.date(1967, 10, 21), 223000.0, 751.37)
(datetime.date(1967, 10, 28), 207000.0, 754.61)
(datetime.date(1967, 11, 4), 222000.0, 754.08)
(datetime.date(1967, 11, 11), 214000.0, 758.0)
(datetime.date(1967, 11, 18), 198000.0, 758.0)
(datetime.date(1967, 11, 25), 191000.0, 764.52)
(datetime.date(1967, 12, 2), 196000.0, 758.81)
(datetime.date(1967, 12, 9), 221000.0, 763.64)
(datetime.date(1967, 12, 16), 204000.0, 766.91)
(datetime.date(1967, 12, 23), 219000.0, 768.27)
(datetime.date(1967, 12, 30), 216000.0, 768.27)
(datetime.date(1968, 1, 6), 222000.0, 770.32)
(datetime.date(1968, 1, 13), 222000.0, 773.6)
(datetime.date(1968, 1, 20), 221000.0, 777.58)
(datetime.date(1968, 1, 27), 198000.0, 779.98)
(datetime.date(1968, 2, 3), 244000.0, 777.37)
(datetime.date(1968, 2, 10), 210000.0, 780.67)
(datetime.date(1968, 2, 17), 196000.0, 781.47)
(datetime.date(1968, 2, 24), 193000.0, 784.44)
(datetime.date(1968, 3, 2), 190000.0, 784.78)
(datetime.date(1968, 3, 9), 204000.0, 788.45)
(datetime.date(1968, 3, 16), 190000.0, 788.56)
(datetime.date(1968, 3, 23), 200000.0, 789.24)
(datetime.date(1968, 3, 30), 192000.0, 794.98)
(datetime.date(1968, 4, 6), 191000.0, 791.3)
(datetime.date(1968, 4, 13), 171000.0, 794.98)
(datetime.date(1968, 4, 20), 183000.0, 798.42)
(datetime.date(1968, 4, 27), 251000.0, 797.74)
(datetime.date(1968, 5, 4), 209000.0, 798.42)
(datetime.date(1968, 5, 11), 194000.0, 801.78)
(datetime.date(1968, 5, 18), 199000.0, 803.16)
(datetime.date(1968, 5, 25), 194000.0, 803.58)
(datetime.date(1968, 6, 1), 199000.0, 807.3)
(datetime.date(1968, 6, 8), 192000.0, 804.96)
(datetime.date(1968, 6, 15), 194000.0, 807.37)
(datetime.date(1968, 6, 22), 189000.0, 809.09)
(datetime.date(1968, 6, 29), 194000.0, 808.4)
(datetime.date(1968, 7, 6), 214000.0, 811.15)
(datetime.date(1968, 7, 13), 186000.0, 810.46)
(datetime.date(1968, 7, 20), 180000.0, 812.87)
(datetime.date(1968, 7, 27), 205000.0, 818.69)
(datetime.date(1968, 8, 3), 206000.0, 817.34)
(datetime.date(1968, 8, 10), 218000.0, 820.41)
(datetime.date(1968, 8, 17), 192000.0, 821.45)
(datetime.date(1968, 8, 24), 193000.0, 821.47)
(datetime.date(1968, 8, 31), 188000.0, 824.55)
(datetime.date(1968, 9, 7), 189000.0, 826.97)
(datetime.date(1968, 9, 14), 195000.0, 825.26)
(datetime.date(1968, 9, 21), 191000.0, 829.04)
(datetime.date(1968, 9, 28), 189000.0, 827.66)
(datetime.date(1968, 10, 5), 185000.0, 828.7)
(datetime.date(1968, 10, 12), 186000.0, 833.52)
(datetime.date(1968, 10, 19), 191000.0, 831.45)
(datetime.date(1968, 10, 26), 182000.0, 832.82)
(datetime.date(1968, 11, 2), 181000.0, 834.18)
(datetime.date(1968, 11, 9), 183000.0, 838.7)
(datetime.date(1968, 11, 16), 192000.0, 839.73)
(datetime.date(1968, 11, 23), 199000.0, 841.8)
(datetime.date(1968, 11, 30), 162000.0, 843.18)
(datetime.date(1968, 12, 7), 188000.0, 844.56)
(datetime.date(1968, 12, 14), 195000.0, 849.43)
(datetime.date(1968, 12, 21), 192000.0, 847.32)
(datetime.date(1968, 12, 28), 223000.0, 850.47)
(datetime.date(1969, 1, 4), 190000.0, 852.89)
(datetime.date(1969, 1, 11), 191000.0, 852.89)
(datetime.date(1969, 1, 18), 192000.0, 853.53)
(datetime.date(1969, 1, 25), 193000.0, 857.73)
(datetime.date(1969, 2, 1), 203000.0, 857.33)
(datetime.date(1969, 2, 8), 197000.0, 858.71)
(datetime.date(1969, 2, 15), 192000.0, 861.47)
(datetime.date(1969, 2, 22), 192000.0, 862.16)
(datetime.date(1969, 3, 1), 201000.0, 862.85)
(datetime.date(1969, 3, 8), 191000.0, 868.11)
(datetime.date(1969, 3, 15), 189000.0, 866.64)
(datetime.date(1969, 3, 22), 181000.0, 871.92)
(datetime.date(1969, 3, 29), 183000.0, 871.13)
(datetime.date(1969, 4, 5), 182000.0, 871.47)
(datetime.date(1969, 4, 12), 190000.0, 877.8)
(datetime.date(1969, 4, 19), 187000.0, 873.42)
(datetime.date(1969, 4, 26), 177000.0, 875.82)
(datetime.date(1969, 5, 3), 177000.0, 878.58)
(datetime.date(1969, 5, 10), 183000.0, 879.61)
(datetime.date(1969, 5, 17), 179000.0, 882.02)
(datetime.date(1969, 5, 24), 180000.0, 884.08)
(datetime.date(1969, 5, 31), 187000.0, 882.54)
(datetime.date(1969, 6, 7), 192000.0, 886.83)
(datetime.date(1969, 6, 14), 182000.0, 889.93)
(datetime.date(1969, 6, 21), 191000.0, 888.71)
(datetime.date(1969, 6, 28), 203000.0, 891.99)
(datetime.date(1969, 7, 5), 227000.0, 893.71)
(datetime.date(1969, 7, 12), 210000.0, 894.54)
(datetime.date(1969, 7, 19), 206000.0, 895.57)
(datetime.date(1969, 7, 26), 192000.0, 900.25)
(datetime.date(1969, 8, 2), 196000.0, 901.97)
(datetime.date(1969, 8, 9), 203000.0, 904.03)
(datetime.date(1969, 8, 16), 199000.0, 906.78)
(datetime.date(1969, 8, 23), 199000.0, 907.82)
(datetime.date(1969, 8, 30), 195000.0, 909.29)
(datetime.date(1969, 9, 6), 182000.0, 910.57)
(datetime.date(1969, 9, 13), 209000.0, 915.98)
(datetime.date(1969, 9, 20), 195000.0, 919.08)
(datetime.date(1969, 9, 27), 193000.0, 918.82)
(datetime.date(1969, 10, 4), 193000.0, 922.88)
(datetime.date(1969, 10, 11), 200000.0, 925.98)
(datetime.date(1969, 10, 18), 199000.0, 928.05)
(datetime.date(1969, 10, 25), 205000.0, 931.16)
(datetime.date(1969, 11, 1), 198000.0, 933.23)
(datetime.date(1969, 11, 8), 211000.0, 935.3)
(datetime.date(1969, 11, 15), 197000.0, 939.44)
(datetime.date(1969, 11, 22), 217000.0, 941.85)
(datetime.date(1969, 11, 29), 202000.0, 943.58)
(datetime.date(1969, 12, 6), 202000.0, 943.59)
(datetime.date(1969, 12, 13), 222000.0, 949.79)
(datetime.date(1969, 12, 20), 232000.0, 950.82)